body {
    padding:0px;
    margin:0px;
}

.main {
    height:100vh;
    width:100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.title {
    color:rgb(38, 245, 38);
    font-family: 'Courier New', Courier, monospace;
}

.calcContainer {
    padding:0.5em;
    width:15em;
    height:61%;
    background-color: #414040;
}

.calcInputDiv {
    width:100%;
    height:20%;
    background-color: white;
    padding:-10px;
    background-color: #222222;
    color:rgb(38, 245, 38);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 5px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

.inputUiStyling {
    color:rgb(38, 245, 38);
    font-family: 'Courier New', Courier, monospace;
    margin:0px;
    align-items: end;
}

.calcBtns {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width:100%;
}

.calcBtn {
    width:5em;
    height:3em;
    border:none;
    margin-top:10px;
    background-color: #222222;
    color:rgb(38, 245, 38);
    font-family: 'Courier New', Courier, monospace;
}

#btn15 {
    width:100%;
}